@font-face {
  font-family: 'IRANSansWeb';
  src: url('//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.eot');
  src: url('//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.svg#IRANSansWeb')
      format('svg');
}
